<div class="customer-content">
  <div class="table-header">
    <div class="dc-h3 header">
      Customers ({{customerTotal}})
    </div>
    <div class="search-bar">
      <input class="dc-search" placeholder="Search Customer" (keyup)="filterSubject.next($any($event.target).value)">
    </div>
  </div>
  <div class="under-header">
    <button (click)="openDialog()">add</button>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear="true"
           [matSortActive]="defaultSort.active" [matSortDirection]="defaultSort.direction">

      <ng-container matColumnDef="user">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>User</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{element.user}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell class="dc-content" *matCellDef="let element"> {{ element.location }} </td>
      </ng-container>

      <ng-container matColumnDef="serviceZone">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Service Zone</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{element.serviceZone}} </td>
      </ng-container>

      <ng-container matColumnDef="auto">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Auto</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{element.auto}} </td>
      </ng-container>

      <ng-container matColumnDef="autoCoordinates">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Auto Coordinates</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{element.autoCoordinates}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell class="dc-content" *matCellDef="let element"> {{ element.phone }} </td>
      </ng-container>

      <ng-container matColumnDef="schedule">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Schedule</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{element.schedule}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>status</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          <button (click)="openDialog(element, true)">edit</button>
          <button (click)="deleteCustomer(element.id)">remove</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td mat-cell class="dc-label no-data-cell" *matCellDef="let element"
            [attr.colspan]="displayedColumns.length">
          <ng-container *ngIf="!(error$ | async) && !loading">
            <span class="dc-content">No Customers</span>
          </ng-container>
          <ng-container *ngIf="(error$ | async) && !loading">
            <span class="dc-label">System Failure</span>
            <span class="dc-content">Error</span>
            <span class="retry" (click)="retry()">Retry</span>
          </ng-container>
          <ng-container *ngIf="loading">
            <span class="dc-label">Retrieving data...</span>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
      <ng-container *ngIf="customerTotal && !loading">
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="customer-row"></tr>
      </ng-container>
      <ng-container *ngIf="!customerTotal || loading">
        <tr mat-row *matRowDef="let row; columns: ['noData'];" class="no-data-row"></tr>
      </ng-container>
    </table>

    <mat-paginator [length]="customerTotal" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
  </div>
</div>
