<form class="customer-form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>User</mat-label>
    <input type="text" matInput formControlName="user">
  </mat-form-field>

  <mat-form-field>
    <mat-label>location</mat-label>
    <input type="text" matInput formControlName="location">
  </mat-form-field>

  <mat-form-field>
    <mat-label>serviceZone</mat-label>
    <input type="text" matInput formControlName="serviceZone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>auto</mat-label>
    <input type="text" matInput formControlName="auto">
  </mat-form-field>

  <mat-form-field>
    <mat-label>autoCoordinates</mat-label>
    <input type="text" matInput formControlName="autoCoordinates">
  </mat-form-field>

  <mat-form-field>
    <mat-label>phone</mat-label>
    <input type="text" matInput formControlName="phone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>schedule</mat-label>
    <input type="text" matInput formControlName="schedule">
  </mat-form-field>

  <mat-form-field>
    <mat-label>status</mat-label>
    <input type="text" matInput formControlName="status">
  </mat-form-field>


</form>
<div style="display: flex; justify-content: end">
  <button mat-stroked-button mat-button="primary" (click)="close()">Cancel</button>
  <button mat-stroked-button mat-button="primary" (click)="close(true)" [disabled]="formGroup.invalid">Accept</button>
</div>
